<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<header>
</header>
<body>
  <main>
    <h1> DON'T PANIC!</h1>
    <p>Some sort of something has gone wrong, it will all be okay. Or not then we die.</p>
  </main>
</body>
</html>