/* header */
header {
  text-align: center;
  background-color: transparent;
}
header section {
  width: 100%;
  clear: both;
  padding: 12px 0;
  background-color: #444;
  color: white;
}
nav {
  width: 100%;
}
nav i {
  float: right;
  margin: 0;
  padding: 15px;
}
nav i:hover {
  cursor: pointer;
}
nav h2 {
  float: left;
  margin: 0;
  padding: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
nav h2:hover {
  cursor: pointer;
}
/* Book */

section.book {
  display: block;
  border: 1px solid white;
  text-align: center;
  margin: 40px 20px;
}
section.book img {
  width: 150px;
  margin: 20px 0 5px;
}
section.book h2  {
  margin: 10px;
  font-size: 20px;
}
section.book h3 {
  font-size: 14px;
  margin: 5px;
}
section.book .noImage {
  padding: 40px;
}
section.book h4 {
  margin: 5px;
}
.book p {
  margin: 20px 0;
}

/* dropdown */

nav section {
  background-color: rgba(0,0,0,80%);
  position: absolute;
  top: 62px;
  display: none;
}
nav section a {
  position: static;
  color: white;
  text-decoration: none;
  text-align: center;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
}